*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  height: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  padding: 11.08% 2.5%;
  box-sizing: border-box;
  margin: auto;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset,
form {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

/*общий стиль для кнопок*/
.button {
  color: rgba(255, 255, 255, 1);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  max-height: 34px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "result content";
  gap: 30px;
  align-self: flex-end;
  width: 100%;
  max-width: 1140px;
  height: 100%;
}

/*result-area*/
.result {
  grid-area: result;
  width: 100%;
  max-width: 711px;
  height: 100%;
}

.result__video-container {
  display: block;
  width: 100%;
  max-width: 711px;
  max-height: 464px; /*вот тут неверное значение было*/
  position: relative;
  z-index: 10;
  height: 100%;
}

.result__video {
  width: 100%;
  padding-top: 10.98%;
  object-fit: cover;
  object-position: top;
  height: 100%;
}

/* форма поиска*/
.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 24px;
  align-items: flex-end;
  width: 100%;
  max-width: 711px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 225px;
  border: none;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.search-form__textfield {
  border: none;
  outline: none;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  appearance: none;
  width: 100%;
  min-width: 225px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  cursor: pointer;
}

.search-form__submit-button {
  width: 100%;
  height: 100%;
  max-width: 194px;
  line-height: 34px;
}

/*стили состояния для формы поиска*/
input[type='checkbox']:checked + span {
  width: 19px;
  height: 19px;
  background-color: rgba(255, 255, 255, 1);
  outline: 1px solid #1b1919;
  outline-offset: -2px;
}

.search-form__label:focus-within:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 1px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label-text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  outline: none;
  box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* стили состояния для кнопок*/
.button:focus {
  outline: none;
  box-shadow: none;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus-visible {
  outline: 1px solid rgba(255, 255, 255, 1);
  outline-offset: 1px;
}

/*секция content*/
.content__details {
  width: 100%;
  height: 100%;
  max-width: 399px;
  grid-area: content;
}

.title {
  width: 100%;
  max-width: 259px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  margin-right: 140px;
  padding-bottom: 26px;
}

.content__accent {
  color: rgba(84, 80, 80, 1);
}

.content__list-container {
  width: 100%;
  height: 100%;
  max-width: 399px;
  max-height: 298px;
  overflow: auto;
  position: relative;
  z-index: 10;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: space-between;
  padding: 0 0 25px 0;
  box-sizing: border-box;
}

.content__list-item {
  outline: none;
  border: none;
  padding: 2px 3px 0 3px;
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-overflow: ellipsis;
  text-transform: uppercase;
  overflow: hidden;
  max-width: 196px;
  padding-top: 1px;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

/* удалил fieldset и перенес в search-form__fieldset */

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  height: 100%;
  max-width: 390px;
  margin: 2px;
}

/*стили состояний для content-area*/
.content__card-link:focus {
  outline-offset: none;
  border: none;
  box-shadow: none;
}

.content__card-link:hover {
  text-decoration: 1px underline #fff;
  text-underline-offset: 2px;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}